
* {
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    background: rgb(0, 0, 0);
}

.game{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.openContainer{
    position: absolute;
    z-index:4;
    margin-left: 40%;
    margin-top: 20px;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-family: "Hammersmith One", sans-serif, Arial;
    opacity: 0.9;
}

.opener{
    overflow-y:hidden;
    width: 50vw;
    height: 30vh;
    background: black;
    font-size: 1.2rem;
    left: 50%;
    color: white;
    margin-left: -16.7vw;
    border-radius: 6px;
    padding: 10vmin 4%;
    line-height: 1.4em;
    border: 2px solid white;
    max-width: 840px;
}

button.start {
    padding: 0.5em 1em;
    background: #a5ceb3;
    color: black;
    border-radius: 6px;
    border: none;
    margin: 30px auto;
    display: table;
    transition: background 0.5s ease;
}

.pointer{
    display: flex;
    flex-direction: row;
    margin: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.imagen{
    height:60px;
    background-size: cover;
}

#sol {
    margin: 20px;
    height: 200px ;
    width: 200px;
    background-image: url(./img/sol.png);
    background-size: 200px 200px;
    -webkit-animation: rotate 20s normal linear infinite;
    animation: rotate 20s normal linear infinite;
  }
  @keyframes rotate {
    0% {
      -webkit-transform: rotate3d(0, 0, 1, 0deg);
      transform: rotate3d(0, 0, 1, 0deg);
    }
    25% {
      -webkit-transform: rotate3d(0, 0, 1, 90deg);
      transform: rotate3d(0, 0, 1, 90deg);
    }
    50% {
      -webkit-transform: rotate3d(0, 0, 1, 180deg);
      transform: rotate3d(0, 0, 1, 180deg);
    }
    75% {
      -webkit-transform: rotate3d(0, 0, 1, 270deg);
      transform: rotate3d(0, 0, 1, 270deg);
    }
    100% {
      -webkit-transform: rotate3d(0, 0, 1, 360deg);
      transform: rotate3d(0, 0, 1, 360deg);
    }
  }


.quilla{
    right: 35%;
    height: 283px;
    width: 389px;
    bottom: 18px;
    border-radius: 0px;

    position: absolute;
    z-index: 2;
    background: url(img/Quilla.png) no-repeat center center;
    background-size:389px 283px;
}
  

.star{
    height: 20px;
    background-size: cover;
}

.score{
    color: rgb(255, 255, 255);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: right;
    margin-left: 10px;
}

.contenedor {
    width: 90vw;
    height: 70vh;
    margin: 0 auto;
    border-radius: 40px;
    position: relative;
    background: linear-gradient(rgb(106, 218, 255), transparent) rgba(211, 244, 255, 1);/*linear-gradient(#90ebff, white);*/
    transition: background-color 1s linear;
    overflow: hidden;
}

.mediodia {
    background: linear-gradient(180deg, #FFBA83 0%, #F38B9D 110.25%);
}


.tarde {

    background: linear-gradient(180deg, #431C50 0%, #EF363E 32.81%, #FAD61A 100%);
}

.noche {
    background: linear-gradient(92.09deg, #000F6A 3.21%, #3D1285 28.4%, #944DAB 52.3%, #D45DCA 67.94%, #FBE5F1 107.02%);
}

.dino{
    width:104px;
    height:113.5px;
    position: absolute;
    bottom: 22px;
    left: 42px;
    z-index: 4;
    background-image: url(./img/png/sprite.png);
    background-size: 520px, 454px;
    background-position-x: 416px;
  }

  .dino-estrellado {
    width:104px;
    height:113.5px;
    bottom: 22px;
    left: 42px;
    z-index: 4;
    position: absolute;
    background-image: url(./img/png/estrellada.png);
    background-size: cover;
}


.dino-corriendo {
    animation: playXIdle 0.6s steps(5)  infinite,
               playYIdle 0.6s steps(4)infinite
}

@keyframes playXIdle {
    from {background-position-x: 0px;}
    to {background-position-x: -520px;}
  }
  @keyframes playYIdle {
    from {background-position-y: 0px;}
    to {background-position-y: -454px;}
  }

.parpadea {
    animation-name: parpadeo;
    animation-duration: 0.2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  
    -webkit-animation-name:parpadeo;
    -webkit-animation-duration: 0.2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
  }
  
  @-moz-keyframes parpadeo{  
    0% { opacity: 0.8; }
    50% { opacity: 0.0; }
    100% { opacity: 0.8; }
  }
  
  @-webkit-keyframes parpadeo {  
    0% { opacity: 0.8; }
    50% { opacity: 0.0; }
     100% { opacity: 0.8; }
  }
  
  @keyframes parpadeo {  
    0% { opacity: 0.8; }
     50% { opacity: 0.0; }
    100% { opacity: 0.8; }
  }

.suelo {
    width: 200%;
    height: 42px;
    z-index: 2;
    position: absolute;
    bottom: 0;
    left: 0;
    background: url(img/suelo.png) repeat-x 0px 0px;
    background-size: 50% 42px;
}

.montañas {
    bottom: 0;
    position: absolute;
    z-index: 1;
    width: 200%;
    height: 60%;
    background: url(img/montañas.png) repeat-x 0px 0px;
    background-size: 50% 100%;
    /* mix-blend-mode:overlay; */

}


.planta, .planta2, .planta3, .planta4 {
    bottom: 40px;
    position: absolute;
    z-index: 2;
}

.planta{
    height: 215px;
    width: 100px;
    background: url(img/planta.png) no-repeat;
    background-size: 100px 215px;
}

.planta2{
    width: 85px;
    height: 166px;
    background: url(img/planta2.png) no-repeat;
    background-size: 85px 166px;
}

.planta3{
    width: 159px; 
    height: 95px;
    background: url(img/planta3.png) no-repeat;
    background-size: 159px 95px;
}
.planta4{
    height: 112px;
    width: 78.6px;
    background: url(img/planta4.png) no-repeat;
    background-size: 78.6px 112px;
    ;
}
.planta5{
    height: 215px;
    width: 100px;
    background: url(img/planta5.png) no-repeat;
    background-size: 100px 215px;
    ;
}
.cespeds {
    width: 163px;
    height: 63px;
    bottom: 40px;
    position: absolute;
    z-index: 2;
    background: url(img/font.png) no-repeat;
    background-size: 163px 63px;
}

.estrella{
    width: 10px;
    height: 10px;
    position: absolute;
    z-index: 1;
    background: url(img/estrella.png) no-repeat;
    background-size: 10px 10px;
}

.enemigo{
    width: 90px;
    height: 120px;
    position: absolute;
    z-index: 3;
    background: url(img/enemigo.gif) repeat-x 0px 0px;
    background-size: 90px 120px;
    -webkit-animation: balloon2 6s ease-in-out infinite;
    -moz-animation: balloon2 6s ease-in-out infinite;
    -o-animation: balloon2 6s ease-in-out infinite;
    animation: balloon2 6s ease-in-out infinite;
}


@keyframes balloon2 {
    0%, 100% {
        transform: translateY(0) rotate(-6deg);
    }
    50% {
        transform: translateY(-20px) rotate(8deg);
    }
}

.nube, .nube2, .nube3, .nube4{
    position: absolute;
    z-index: 1;
}

.nube{
    width: 226px;
    height: 127px;
    background: url(img/nube.png) no-repeat;
    background-size: 226px 127px;
}

.nube2{
    width: 306px;
    height: 100px;
    background: url(img/nube2.png) no-repeat;
    background-size: 306px 100px;
}

.nube3{
    width: 226px;
    height: 127px;
    background: url(img/nube3.png) no-repeat;
    background-size: 226px 127px;
}

.nube4{
    width: 266px;
    height: 90px;
    background: url(img/nube4.png) no-repeat;
    background-size: 266px 90px;
}


.moneda{
    width: 55px;
    height: 55px;
    position: absolute;
    z-index: 3;
    background: url(img/moneda.png) no-repeat center center;
    background-size: cover;
}


.game-over{
    display: none;
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 0px;
    color: #ffffff;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
}


.progress {
    background: none;
    pointer-events: none;
}
    progress {
      position: relative;
      display: block;
      background-color: transparent;

    }
  
    ::-webkit-progress-bar {
      background-color: white;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
    }
  
    ::-webkit-progress-value {
      background-image: linear-gradient(132deg, #F4D03F 0%, #16A085 100%);
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
    }