.child {
    display: none;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 200px;
    height: 267px;
    background-image: url(../img/boy_m1.png);
    background-size: 1600px 267px;
    background-position: 0 0;
    margin: 0 52px;
}