
* {
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    background: linear-gradient(180deg, #dd6eee 0%, #fc949d 80.93%, #ffcd81 182.8%);

    display: flex;
    align-items: center;

}



.contenedor {
    width: 920px;
    height: 400px;
    margin: 0 auto;
    border-radius: 40px;
    position: relative;
    background: linear-gradient(rgb(106, 218, 255), transparent) rgba(211, 244, 255, 1);/*linear-gradient(#90ebff, white);*/
    transition: background-color 1s linear;
    overflow: hidden;
}



.mediodia {
    background-color:#ffadad, rgba(244, 169, 255, 1); 
}

.tarde {
    background-color: rgba(244, 169, 255, 1)
}

.noche {
    background-color: rgba(148, 77, 171, 1)
}

.dino {
    width: 80px;
    height: 84px;

    position: absolute;
    bottom: 22px;
    left: 42px;
    z-index: 2;

    background: url(./img/dinoo.png) repeat-x 0px 0px;
    background-size: 336px 84px;
    background-position-x: 0px;

}

.dino-corriendo {
    animation: animarDino 0.4s steps(2) infinite;
}
.dino-estrellado {
    background-position-x: -252px;
}

.suelo {
    width: 200%;
    height: 42px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: url(img/suelo.png) repeat-x 0px 0px;
    background-size: 50% 42px;

}

.cactus{
    width: 32px;
    height: 110px;
    position: absolute;
    bottom: 25px;
    left: 600px;
    z-index: 1;
    background: url(img/cactus1.png) no-repeat;
    background-size: 32px 110px;
}

.cactus2{
    width: 98px;
    background: url(img/cactus2.png) no-repeat;
    background-size: 98px 116px;
}


.planta, .planta2, .planta3, .planta4 {
    bottom: 40px;
    position: absolute;
}

.planta{
    height: 215px;
    width: 100px;
    background: url(img/planta.png) no-repeat;
    background-size: 100px 215px;
}

.planta2{
    width: 85px;
    height: 166px;
    background: url(img/planta2.png) no-repeat;
    background-size: 85px 166px;
}

.planta3{
    width: 159px; 
    height: 95px;
    background: url(img/planta3.png) no-repeat;
    background-size: 159px 95px;
}
.planta4{
    height: 112px;
    width: 78.6px;
    background: url(img/planta4.png) no-repeat;
    background-size: 78.6px 112px;
    ;
}
.planta5{
    height: 215px;
    width: 100px;
    background: url(img/planta5.png) no-repeat;
    background-size: 100px 215px;
    ;
}

.imagen{
    width: 400px;
    height: 400px;
    background-size: cover;

}

.cespeds {
    width: 163px;
    height: 63px;
    bottom: 40px;
    position: absolute;
    background: url(img/font.png) no-repeat;
    background-size: 163px 63px;
}

.estrella{
    width: 10px;
    height: 10px;
    position: absolute;
    z-index: 1;
    background: url(img/estrella.png) no-repeat;
    background-size: 10px 10px;
}

.enemigo{
    width: 90px;
    height: 120px;
    position: absolute;
    z-index: 0;
    background: url(img/enemigo.gif) repeat-x 0px 0px;
    background-size: 90px 120px;
    animation: animarEnemigo 0.4s steps(2) infinite;
}

.nube{
    width: 226px;
    height: 127px;
    position: absolute;
    z-index: 1;
    background: url(img/nube.png) no-repeat;
    background-size: 226px 127px;
}

.nube2{
    width: 306px;
    height: 100px;
    position: absolute;
    z-index: 1;
    background: url(img/nube2.png) no-repeat;
    background-size: 306px 100px;
}




.moneda{
    width: 55px;
    height: 55px;
    position: absolute;
    z-index: 1;
    background: url(img/moneda.png) no-repeat center center;
    background-size: cover;
}

.score{
    width: 100px;
    height: 30px;

    position: absolute;
    top: 5px;
    right: 15px;
    z-index: 10;

    color: #ffffff;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: right;
}

.game-over{
    display: none;

    position: absolute;
    width: 100%;


    text-align: center;
    font-size: 0px;
    color: #ffffff;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
}

@keyframes animarDino{
    from{
        background-position-x: -84px;
    }
    to{
        background-position-x: -252px;
    }
}
