
  .pachamama{
    right: 35%;
    bottom: 15px;
    height: 400px;
    width: 400px;
    position: absolute;
    z-index: 3;
    background: url(img/pachamama.png) no-repeat center center;
    background-size:400px 400px;
    animation: movePachamama 6s ease infinite;
}

@keyframes movePachamama {
    50% {
        transform: translate(50px, 10px);
    }
}

.cactus{
    width: 32px;
    height: 110px;
    position: absolute;
    bottom: 25px;
    left: 600px;
    z-index: 2;
    background: url(img/cactus1.png) no-repeat;
    background-size: 32px 110px;
}

.cactus2{
    z-index: 2;
    width: 98px;
    background: url(img/cactus2.png) no-repeat;
    background-size: 98px 116px;
}


.mano{
    width: 60px;
    height: 150px;
    position: absolute;
    bottom: 0px;
    left: 600px;
    z-index: 5;
    background: url(img/mano.png) no-repeat;
    background-size: 60px 150px;
    animation: move 3s ease infinite;
}

.manos{
    width: 108px;
    height: 160px;
    bottom: 0px;
    position: absolute;
    z-index: 5;
    background: url(img/manos.png) no-repeat;
    background-size: 108px 160px;
    animation: move 5s ease infinite;
}
@keyframes move {
    50% {
       transform: translate(90px, 90px);
    }
  }



  